<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
	<script src="/webjars/axios/0.18.0/dist/axios.min.js"></script>
	<script src="/webjars/vue/2.5.17/dist/vue.js" ></script>

	<style>
		.stdlog { max-height: 500px }
	</style>
</head>

<body>
<div layout:fragment="content">
	<div th:replace="stepper :: stepper(step = 2)"></div>
	<div th:replace="talk_header :: talk_header(talk = ${talk}, link = @{/010-talk-choice})"></div>

	<div id="vue">

		<div class="row mb-3" v-if="!firstRun">
			<div class="col-sm text-center">
				<button class="btn btn-primary btn-lg" @click="start()">Lancer le preview</button>
			</div>
			<div class="col-sm text-center">
				<button class="btn btn-outline-primary btn-lg" @click="goLive()">Passer au live directement</button>
			</div>
		</div>

		<div class="row mb-3" v-else>
			<div class="col-sm text-center">
				<button class="btn btn-outline-success btn-lg" @click="start()">Relancer le preview</button>
				<button class="btn btn-success btn-lg" @click="view()">Voir le preview</button>
			</div>
			<div class="col-sm text-center">
				<button class="btn btn-primary btn-lg" @click="goLive()">Passer au live</button>
			</div>
		</div>

		<div class="row mb-3" v-if="log.length > 0">
			<div class="col-sm-12">
				<pre class="pre-scrollable stdlog" ref="logPre">
{{log.join('\n')}}
				</pre>
			</div>
		</div>
	</div>

	<script>
		new Vue({
			el: '#vue',
			data: {
				firstRun: false,
				log: []
			},

			created() {
				this.connectToWS()
			},

			methods: {
				connectToWS() {
					ws.sub('/020-nageru-preview-out', msg => {
						let body = msg.body
						if (body === '---- NEW STREAM ----') {
							this.log = []
						}

						this.log.push(body)

						//limit number of lines
						if (this.log.length > 100) {
							this.log.splice(0, this.log.length - 100)
						}

						//scroll log at bottom
						let log = this.$refs.logPre;
                        if (log) log.scrollTop = log.scrollHeight;
					})
				},

				start() {
					axios.post('/preview/start').then(() => {
						this.firstRun = true
					})
				},

				view() {
					axios.post('/preview/view')
				},

				goLive() {
					axios.delete('/preview').then(() => {
						window.location = "030-live"
					})
				}
			}
		})
	</script>

</div>
</body>
</html>