<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .stdlog { max-height: 200px }
    </style>
</head>

<body>
<div layout:fragment="content">
    <div th:replace="stepper :: stepper(step = 5)"></div>

    <div id="vue">
        <div class="row mb-3 mt-4">
            <div class="col text-center">
                <h2 v-if="progress.current">Copie en cours...</h2>
                <h2 v-if="!progress.current" class="pt-5 pb-3">Copie terminée</h2>
            </div>
        </div>

        <div class="row mb-2 text-muted" v-if="progress.current">
            <div class="col">
                {{ progress.current.name }}
            </div>

            <div class="col-3 text-right">
                <div>Temps restant estimé : {{ remaining }}</div>
                <div>Taille : {{ progress.copied | formatBytes }} / {{ progress.current.size | formatBytes }}</div>
            </div>
        </div>

        <div class="row mb-4" v-if="progress.current">
            <div class="col">
                <div class="progress pgbar">
                    <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar"
                         v-bind:style="{ width: progress.percent + '%' }" >
                        {{progress.percent}}%
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col text-center">
                <div><a th:href="@{/010-talk-choice}" class="btn btn-primary btn-lg">Relancer une captation</a></div>
                <div class="font-italic font-90" v-if="progress.current">La copie continuera en arrière-plan</div>
            </div>

            <div class="col text-center">
                <button class="btn btn-secondary btn-lg" @click="shutdown">Éteindre le PC</button>
            </div>
        </div>

        <div class="row mb-3 mt-4" v-if="files.length > 0">
            <h4>Fichiers en attente de copie :</h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fichier</th>
                    <th scope="col">Taille</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(f, idx) in files" :class="{ 'table-active': f.selected }" @click="selectFile(f)">
                    <td>{{ idx + 1 }}</td>
                    <td>{{ f.name }}</td>
                    <td>{{ f.size | formatBytes }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row mb-3 mt-5" v-if="log.length > 0">
            <div class="col-sm-12">
				<pre class="pre-scrollable stdlog" ref="logPre">
{{log.join('\n')}}
				</pre>
            </div>
        </div>
    </div>

    <script>
        moment.locale('fr')
        Vue.use(vueMoment, { moment })
        new Vue({
            el: '#vue',
            data: {
                log: [],
                files: [],
                progress: { current: null },
                remaining: null
            },

            created() {
                this.loadFiles()
                this.connectToWS()
            },

            methods: {
                connectToWS() {
                    ws.sub('/050-copy-out', msg => {
                        let body = msg.body
                        this.log.push(body)

                        //limit number of lines
                        if (this.log.length > 100) {
                            this.log.splice(0, this.log.length - 100)
                        }

                        //scroll log at bottom
                        let log = this.$refs.logPre
                        if (log) log.scrollTop = log.scrollHeight
                    })

                    copyProgress(p => {
                        //reloading files if current name changes
                        if (p.current && !this.progress.current || !p.current && this.progress.current
                            || p.current && this.progress.current && p.current.name !== this.progress.current.name) {
                            this.loadFiles()
                        }

                        this.progress = p

                        this.progress.percent = p.current ? Math.round(p.copied * 100 / p.current.size) : 0

                        //remaining time for current file
                        if (p.current && p.speed) {
                            let remainSec = (p.current.size - p.copied) / p.speed
                            this.remaining = moment.duration(remainSec * 1000).format('h [h] m [min] s [s]')
                        } else {
                            this.remaining = "-"
                        }
                    })
                },

                loadFiles() {
                    axios.get('/copy/waiting').then(res => {
                        this.files = res.data
                    })
                },

                shutdown() {
                    axios.post('/copy/shutdown')
                }
            }
        })
    </script>
</div>
</body>
</html>