body {
	padding-top: 20px
}

.jumbotron.jumbo-light {
	padding: 2rem;
}

.jumbotron.jumbo-light p {
	margin-bottom: 0;
}

.stepwizard {
	margin-bottom: 5px;
}

.stepwizard:before {
	top: 16px;
	position: relative;
	content: " ";
	width: 100%;
	height: 1px;
	background-color: #ccc;
	z-index: 0;
}
.stepwizard p {
	margin: 3px 0 0 0;
}
.stepwizard .col {
	text-align: center;
}
.stepwizard .btn-circle {
	width: 31px;
	height: 31px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

.stepwizard .upload-time {
	font-size: 80%;
	opacity: 0;
	max-height: 0;
	transition: all 1s ease;
}

.font-90 { font-size: 90% }

.pgbar {
	height: 40px;
	font-size: 25px;
}

#cards li {
	font-style: italic;
}

#cards .card-text {
	font-weight: bold;
}

#cards .card-subtitle {
	font-size: 80%;
}