<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="stepwizard row" th:fragment="stepper">
	<div class="col">
		<a th:href="@{/010-talk-choice}" type="button" class="btn btn-circle" th:classappend="${step == 1} ? 'btn-primary' : 'btn-info'">1</a>
		<p>Talk</p>
	</div>
	<div class="col">
		<a th:href="@{/020-preview}" type="button" class="btn btn-circle" th:classappend="${step == 2} ? 'btn-primary' : 'btn-info'">2</a>
		<p>Preview</p>
	</div>
	<div class="col">
		<a th:href="@{/030-live}" type="button" class="btn btn-circle" th:classappend="${step == 3} ? 'btn-primary' : 'btn-info'">3</a>
		<p>Live</p>
	</div>
	<div class="col">
		<a th:href="@{/040-export}" type="button" class="btn btn-circle" th:classappend="${step == 4} ? 'btn-primary' : 'btn-info'">4</a>
		<p>Export</p>
	</div>
	<div class="col">
		<a th:href="@{/050-copy}" type="button" class="btn btn-circle" th:classappend="${step == 5} ? 'btn-primary' : 'btn-info'">5</a>
		<p>Copie</p>
		<div class="text-muted upload-time" id="upload-time-div">
			<i class="fas fa-upload"></i> <span id="upload-time">10m 5s</span>
		</div>
	</div>

	<script>
		(function() {
			let upDiv = document.getElementById("upload-time-div")
			let upTime = $("#upload-time")

			copyProgress(progress => {

				if (progress.current) {
					//display upload time and update values
					upTime.text(moment.duration(progress.remaining*1000).format('h [h] m [min] s [s]'))

					upDiv.style.maxHeight = "30px"
					upDiv.style.opacity = 1
				} else {
					//hide upload time
					upDiv.style.maxHeight = 0
					upDiv.style.opacity = 0
				}
			})
		})()
	</script>
</div>
</body>
</html>