<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
	<style>
		.stdlog { max-height: 400px }
	</style>
</head>

<body>
<div layout:fragment="content">
	<div th:replace="stepper :: stepper(step = 4)"></div>
	<div th:replace="talk_header :: talk_header(talk = ${talk}, link = @{/030-live})"></div>

	<div id="vue">
		<div class="row mb-3">
			<div class="col-md-6">
				<h4 v-if="ffmpegRunning">Export en cours...</h4>
				<h4 v-if="!ffmpegRunning && progress < 100">Export en attente...</h4>
				<h4 v-if="!ffmpegRunning && progress == 100">Export terminé</h4>
			</div>
			<div class="col-md-6">
				<p v-if="remaining && ffmpegRunning" class="text-muted font-italic text-right">
					Temps restant estimé : {{ remaining | duration().format('h [h] m [min] s [s]') }}
				</p>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-md-12">
				<div class="progress pgbar">
					<div class="progress-bar" role="progressbar"
						 v-bind:class="progressBarStyle" v-bind:style="{ width: progress + '%' }" >
						{{progress}}%
					</div>
				</div>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-sm jumbotron jumbo-light">
				<p class="text-center mb-4">
                    Veuillez sélectionner la <strong>destination de la copie</strong> (lecteur externe).<br>
					Taille à copier : {{size | formatBytes}}
				</p>

                <div id="cards">
                    <div class="row" v-for="i in Math.ceil(drives.length / 4)">
                        <div class="col-sm-3" v-for="(d, idx) in drives.slice((i - 1) * 4, i * 4)">
                            <div class="card">
                                <div>
                                    <div class="card-body">
                                        <h5 class="card-title" v-if="!d.label">{{d.vendor}} {{d.model}}</h5>
										<h5 class="card-title mb-1" v-if="d.label">{{d.label}}</h5>
                                        <h5 class="card-subtitle mb-2" v-if="d.label">{{d.vendor}} {{d.model}}</h5>

                                        <h6 class="card-subtitle mb-1 text-muted">/dev/{{d.deviceName}}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">{{d.mountpoint}}</h6>

                                        <p>Espace total : {{d.size}}</p>
                                        <p class="mb-2">
											Espace libre : {{d.spaceLeft | formatBytes}}
											<i class="fas fa-exclamation-circle" v-if="d.spaceLeft < size"></i>
											<i class="far fa-check-circle" v-if="d.spaceLeft > size"></i>
										</p>

                                        <button @click="selCopy(d)" class="btn"
												:class="{ 'btn-primary': d.mountpoint != selMnt, 'btn-success': d.mountpoint == selMnt }"
												v-pad-click="{ button: 13 + idx - (4 * (i-1)), disable: false }">
											Copier ici <i :class="'pad pad-' + (13 + idx - (4 * (i-1)))"></i>
										</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>

		<div class="row mb-3" v-if="log.length > 0">
			<div class="col-sm-12">
				<pre class="pre-scrollable stdlog" ref="logPre">
{{log.join('\n')}}
				</pre>
			</div>
		</div>
	</div>

	<script>
        moment.locale('fr')
		Vue.use(vueMoment, { moment })
		new Vue({
			el: '#vue',
			data: {
				log: [],
				ffmpegRunning: false,
				progress: 0,
				duration: 100,
				size: 0,
				remaining: null,
                drives: [],
				selMnt: null
			},

			created() {
				this.connectToWS()
                this.loadDrives()
			},

			computed: {
				progressBarStyle() {
					return {
						'progress-bar-animated': this.ffmpegRunning,
						'progress-bar-striped': this.ffmpegRunning,
						'bg-info': !this.ffmpegRunning && this.progress < 100,
						'bg-success': !this.ffmpegRunning && this.progress === 100
					}
				}
			},

			methods: {
				connectToWS() {
					ws.onConnect(() => {
						axios.post('/export/start').then(res => {
							let exportStart = res.data;
							this.duration = moment.duration(exportStart.filesLength).asMilliseconds()
							this.size = exportStart.filesSize
						})

					}).sub('/040-ffmpeg-export-out', msg => {
						let body = msg.body
						if (body === '---- NEW STREAM ----') {
							this.log = []
							this.ffmpegRunning = true

						} else if (body === '---- END STREAM ----') {
							this.ffmpegRunning = false

						} else if (body === 'ffmpeg stopped and returned [0]') {
							this.progress = 100
							this.goCopy()
						}

						this.log.push(body)

						//limit number of lines
						if (this.log.length > 100) {
							this.log.splice(0, this.log.length - 100)
						}

						//scroll log at bottom
						let log = this.$refs.logPre
						if (log) log.scrollTop = log.scrollHeight

					}).sub('/040-ffmpeg-export-progress', msg => {
						let progress = JSON.parse(msg.body)
						this.progress = Math.round(progress.outTimeUs / this.duration / 10) //us -> ms /1000 - percent -> *100
						let remainMs = (this.duration - progress.outTimeUs / 1000) / progress.speed
						this.remaining = moment.duration(remainMs)
					})
				},

                loadDrives() {
                    axios.get('/files/removable').then(res => {
                        this.drives = res.data
                        setTimeout(() => this.loadDrives(), 1000)
                    })
                },

				selCopy(drive) {
					if (this.selMnt !== drive.mountpoint) {
						this.selMnt = drive.mountpoint
					} else {
						//unselect
						this.selMnt = null
					}
					let data = new FormData()
					data.set('dir', this.selMnt)

					axios.post('/copy/dir', data).then(res => {
						if (res.status === 204) {
							this.goCopy()
						}
					})
				},

				goCopy() {
					if (this.selMnt && this.progress === 100) {
						window.location = '050-copy'
					}
				}
			}
		})
	</script>

</div>
</body>
</html>